@import './style/main_styles.scss';

.article_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.article_img {
  width: 15rem;
  margin-bottom: 1.5rem;
}

.article_content {
  width: 20rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.article_title {
  text-align: left;
  text-decoration: none;
  color: $black;
  font-size: 0.9rem;

  &:hover {
    color: $cornflower;
    text-decoration: none;
  }
}

.article_date {
  font-size: 0.8rem;
  border-bottom: 2px solid $cornflower;
}

.article_date,
.article_text {
  @include poppins-medium;
}

.article_text {
  text-align: justify;
  font-size: 0.9rem;
}
